/* List Stuff */

ul
{
list-style-type:none;
margin: 20px;
padding: 0px;
overflow:hidden;
}

li
{
float:left;
}

/* link selector "PLATES" */

a:link,a:visited{background-color:#D0D0D0; 
display:block; 
font-weight:bold; 
width:140px; 
text-align:center; 
padding:4px;
text-transform:uppercase;
}
a:hover,a:active{background-color:#909090;}

/* text "FACE" */

a:link    {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#a3d165;} /* unvisited link */
a:visited {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#bd96bd;} /* visited link */
a:hover   {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#ffffff;}   /* mouse over link */
a:active  {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#07f5ed;}  /* selected link */
