head{font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:60px;}

p   {font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:80px;}

body{font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:40px;}

/* link selector "PLATES" */

ul
{
list-style-type:none;
margin: 20px;
padding: 0px;
overflow:hidden;
}

li
{
float:center;
}

a:link,a:visited{background-color:#D0D0D0; 
display:block; 
font-weight:bold; 
width:120px; 
text-align:center; 
padding:4px;
text-transform:uppercase;
}
a:hover,a:active{background-color:#909090;}

/* text "FACE" */

a:link    {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#a3d165;} /* unvisited link */
a:visited {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#bd96bd;} /* visited link */
a:hover   {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#ffffff;}   /* mouse over link */
a:active  {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#07f5ed;}  /* selected link */
