head{font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:60px;}

p   {font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:80px;}

body{font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:40px;}

a:link    {font-family:"Lucida Console", Monaco, monospace; color:#a3d165;} /* unvisited link */
a:visited {font-family:"Lucida Console", Monaco, monospace; color:#bd96bd;} /* visited link */
a:hover   {font-family:"Lucida Console", Monaco, monospace; color:#a3d165;}   /* mouse over link */
a:active  {font-family:"Lucida Console", Monaco, monospace; color:#07f5ed;}  /* selected link */
