<div id="footer">

  <a href="http://www.linkedin.com/pub/dustin-shaffer/70/548/387">
    <img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Dustin Shaffer's profile on LinkedIn">
  </a>

  <h6 align="left">
  <br/> 
  <a href="/">&copy; 2013 Dustin Shaffer All Rights Reserved</a>
  </h6>

</div>


<!-- 
<div id="repoHome" style="position:absolute; bottom:0; right:0;">
  <a href="https://github.com/misterdustinface/misterdustinface.github.io">R</a>
</div> 
-->
