<header>
  <div class="menubutton" id="menubutton">
    [MENU]
    <center>
      <img src="/images/homeImage.png" alt="[Dustin Shaffer]"></img>
    </center>
  </div>
  
  <div class="homebar"><h4><ul id="list-nav">
    {% assign sorted_pages = site.pages | sort:"name" %}
    {% for page in sorted_pages %}
      {% if {{page.url}} != "/404.html" %} <!-- AVOID LISTING 404 ERROR PAGE IN HOMEBAR -->
        <li><a href="{{page.url}}">{{page.title}}</a></li>
      {% endif %}
    {% endfor %}
    <li><a href="https://github.com/misterdustinface">My Github</a></li>
  </ul></h4></div>
  
  <script type="text/javascript" src="/javascripts/menu.js"></script>
</header>
