<!-- This is the Piwik tracking code that can be shoved onto any page (make sure it's under the body)-->

<div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik-ssl.ns1.net/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "29"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<noscript>
<!-- Piwik Image Tracker -->
<img src="https://piwik-ssl.ns1.net/piwik.php?idsite=29&amp;rec=1&amp;action_name={{page.title}}" style="border:0" alt="" />
<!-- End Piwik -->
</noscript>
</div>
