<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type" />
  <title>{{page.title}}</title>
</head>

<body
 style="color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); width: 800px;"
 alink="#cc33cc" link="#33ff33" vlink="#cc33cc">
 
{{content}}

<div class="footer">
<h6>
  <ul class="posts">
    {% include blog-posts.html %}
  </ul>
</h6>
</div>

<div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik-ssl.ns1.net/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "29"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<noscript>
<!-- Piwik Image Tracker -->
<img src="https://piwik-ssl.ns1.net/piwik.php?idsite=29&amp;rec=1&amp;action_name={{page.title}}" style="border:0" alt="" />
<!-- End Piwik -->
</noscript>
</div>
</body>
</html>
