head{font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:60px;}
p   {font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:20px;}
body{font-family:"Lucida Console", Monaco, monospace; color:#ffffff; background-color:#000000; margin-left:40px;}

p {
 color: green;
 foreground-blend-mode: overlay;
 background: linear-gradient(to right, #00a9e0 0%,#323290 20%,
             #ea1688 40%, #eb2e2e 60%,#fde92e 80%,#009e54 100%);
}

p {
    text-shadow: green 20px 54px;
    text-shadow-blend-mode: multiply;
}


/* List Stuff */

ul
{
list-style-type:none;
margin: 0px;
padding:0px;
overflow:hidden;
}

/* text "FACE" */

a:link    {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#bd96bd;} /* unvisited link */
a:visited {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#bd96bd;} /* visited link */
a:hover   {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#ffffff;}   /* mouse over link */
a:active  {font-family:"Lucida Console", Monaco, monospace; text-decoration: none; color:#a3d165;}  /* selected link */
/* a3d165 - green      07f5ed - blue*/
/* --  HOMEBAR CODE AREA  -- /*

/* Homebar List Stuff */

ul#list-nav li{float:left;}

/* Homebar link selector "PLATES" */

ul#list-nav li a:link, ul#list-nav li a:visited{background-color:#D0D0D0; 
display:block; 
font-weight:bold; 
width:140px; 
text-align:center; 
padding:4px;
text-transform:uppercase;
}

ul#list-nav li a:hover,ul#list-nav li a:active{background-color:#909090;}
